<% form_for(@put) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :titel %><br />
    <%= f.text_field :titel %>
  </p>
  <p>
    <%= f.label :omschrijving %><br />
    <%= f.text_area :omschrijving %>
  </p>
  <p>
    <%= f.label :geinvesteerd, "Geïnvesteerd" %><br />
    <%= f.text_field :geinvesteerd %>
  </p>
  <p>
    <%= f.label :onderhoudskosten %><br />
    <%= f.text_field :onderhoudskosten %>
  </p>
  <p>
    <%= f.label :verwachte_opbrengst %><br />
    <%= f.text_field :verwachte_opbrengst %>
  </p>
  <p>
    <%= f.label :alternatief %><br />
    <%= f.text_area :alternatief %>
  </p>
	
	<p>
		<%= f.label :locatie %><small>Vul hier adres en plaatsnaam in<br />
    <%= f.text_field :locatie %>
		
		</p>
	<fieldset>
		<p>Onderstaande velden kunnen leeg gelaten worden, de applicatie zal proberen de plek op de kaart proberen te vinden aan de hand van de gegevens die bij 'locatie' zijn ingevoerd. Mocht de put niet op de kaart verschijnen, vul hieronder dan zelf de breedtegraad (lat) en lengtegraad (lng) in.</p>
  <p>
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </p>
  <p>
    <%= f.label :lng %><br />
    <%= f.text_field :lng %>
  </p>
	</fieldset>
  <p>
    <%= f.submit 'Opslaan' %>
  </p>
<% end %>
