<li class="put punt"><h3><%=link_to put.titel, put %></h3>
  <div class="omschrijving"><%=h put.omschrijving %></div>
  <div class="cijfers">Geïnvesterd: <%=h put.geinvesteerd %>, verwachte opbrengst: <%=h put.verwachte_opbrengst %></div>
<div class="alternatief">En dit wil <strong>Groen</strong><em>Links</em>: 
<%=h put.alternatief %>
</div> 
</li>