<% content_for :title do %>
	<%= @put.titel %>
<% end %>
<% content_for :head do %>
<meta name="Description" content="<%= @put.omschrijving %>" />
<% end %>
<h2><strong><%=h @put.titel %></strong><br/><%=h @put.plaatsnaam %></h2>
<div class="inline_h3">
<h3>Wat?</h3>
  <%=markdown @put.omschrijving %>
</div>
<div class="inline_h3">
<h3>Hoeveel?</h3>
	<%=markdown @put.hoeveel %>
</div>

<div class="inline_h3">
	<h3>Wordt het wat?</h3>
  <%=markdown @put.wordt_het_wat %>
</div>
<div class="inline_h3">
	<h3>Wie?</h3>
  <%=markdown @put.verantwoordelijken %>
</div>
<div class="inline_h3">
	<h3>En het <strong>Groen</strong><em>Links</em> alternatief?</h3>
  <%=markdown @put.alternatief %>
</div>

<p>Beter, nietwaar? Kies 2 maart voor <strong>Groen</strong><em>Links</em>. En dat is nog niet alles! Ga naar het <a href="/">overzicht van projecten</a>, of lees meer over alle andere toekomstgerichte plannen op <a href="http://overijssel.groenlinks.nl"><strong>Groen</strong><em>Links</em> overijssel</a></p>